.avatar{
    width: 211px;
    margin-bottom: 72px;
    object-fit: cover;
    height: 217px;
    object-position: 0% 28%;
    border-radius: 27%;
    box-shadow: 24px 26px 40px 0px rgb(183 183 183 / 58%);
}

.about{
    font-size: 15px;
    font-weight: 300;
    font-weight: lighter;
    color: rgb(140, 106, 64);
    margin-bottom: 24px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.button{
    background-color: rgb(140, 106, 64);
    color:rgb(255, 255, 255);
    padding: 12px 24px;
    text-decoration:none;
}

.container{
    background-image:linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0.7)),
     url('https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    padding: 128px;
}

@media screen and (max-width:768px){/*ความกว้างของหน้าจอแท็ปเลตทั่วไป*/
    .container{
        padding: 48px;
    }
}
/*ใส่เพื่อ responsive*/

.company{
    font-weight: bold;
    font-style: normal;
    border-color: rgb(140, 106, 64);
}

.contact{
    margin-bottom: 48px;
    color: rgb(72, 47, 19);
}

.contact-icon{
    margin-right: 12px;
    width :16px;
}

.contact-item{
    margin-bottom: 4px;
}

.content{
    max-width:500px;
}

.job{
    font-size: 20px;
    color: rgb(72, 47, 19);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.name{
    font-size: 36px;
    color: rgb(72, 47, 19);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

@media screen and (max-width:768px){/*ความกว้างของหน้าจอแท็ปเลตทั่วไป*/
    .name{
        font-size:25px;
    }
}
/*ใส่เพื่อ responsive*/
